aside{
    position: relative;
    top: 4.875rem;
    margin: 2.5rem 1.875rem 0 1.875rem;
    padding: 1.875rem 0 1.875rem 0;
    /* width: 40%; */
}

.aside__ul{
    margin-top: 3.8125rem;
    display: flex;
    align-items: center;
    overflow-y:scroll;
    gap: 1.25rem;
}

.aside__li{
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 9.8rem;
    gap: 2.1875rem;
    padding: 1.075rem 0 0 0;
}

.aside__figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure__figcaption{
    margin-left: .625rem;
}

.figcaption__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.figcaption__name{
    height: 3rem;
    text-align:center;
    width: fit-content;
}

.figcaption__description{
    height: 2rem;
    text-align:center;
}